.button_big{
    background: #F5BA53;
    text-align: center;
    padding: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 20px;
    border: 1px solid #000;
    border-radius: 10px;
}

.buttons{
    margin: 50px;
}

    /*
    LOGIN
     */
.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
    /*
    LOGIN
     */